﻿@model tryagain.Models.NBAPlayer

@{
    ViewBag.Title = "NBA History";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head><title>@ViewBag.Title</title></head>	
<h1>@Model.Name</h1>
<body>
</body>
</html>

