@model tryagain.Models.Videos

@{
    ViewBag.Title = "Player Videos"
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
</body>
</html>

